extends layout

block content
  h1= title
  div 
    each race in races 
      div
        h2= race.title 
        p= race.date
        if race.hasHappened
          a(href=`http://formula1tickets.nicolasloontjens.be/results/2022/${race.raceid}` target='_blank') View results
